<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css" />
    {% block extrastyle %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">LankaMart</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% block navbarli %}
            <li><a href="/contact/">Contact us</a></li>
            {% endblock %}
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      {% block pagecontent %}{% endblock %}
    </div>
    <script type="text/javascript" src="/static/js/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.js">
    {% block extrajs %}{% endblock %}
  </body>
</html>
