{% extends "rack/base.html" %}

{% block title %}Welcome to online store{% endblock %}

{% block pagecontent %}
<h1>Welcome to Sri Lanka online market</h1>

<ul>
  {% for product in product_list %}
    <li><a href="/product/{{ product.key }}/">{{ product.name }}</a></li>
  {% endfor %}
</ul>
{% endblock %}
