{% extends "rack/base.html" %}

{% block title %}{{ product.name }}{% endblock %}

{% block pagecontent %}
<h1>Welcome to Sri Lanka online market</h1>

<div class="row">
  <div class="col-md-3">
    <img src="{{ product.image_url }}" />
  </div>
  <div class="col-md-9">
    Name: {{ product.name }}<br/>
    Price: {{ product.price }}<br/>
    Description:<br/>
    {{ product.description }}
  </div>
</div>
{% endblock %}
